html {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5;
}

body {
  font-family: Georgia, Halvetica, serif;
  margin: 0;
  background-image: linear-gradient(to bottom, #1A4A1C, #308834 600px);
}

.hidden {
  display: none;
}

.pg {
  color: #fff;
  margin: 20px 10px;
}

#players-arena {
  position: relative;
  width: 100%;
  height: 500px;
}

#players-arena div.player-area {
  width: 650px;
  height: 280px;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
}

#players-arena div.player-area h2 {
  font-size: 25px;
  margin: 15px 0;
}

#players-arena div.player-area .cards {
  display: flex;
}

div.player-area .cards div.card-wrapper {
  flex-grow: 1;
  position: relative;
  width: 100px;
  height: 140px;
}

div.player-area .cards > div > div {
  position: absolute;
  width: 150px;
  height: 210px;
}

div.player-area .cards .round {
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  border-radius: 9px;
}

div.player-area .cards .card-wrapper.active:hover .round {
  display: flex;
  flex-direction: column;
  height: 210px;
}

div.player-area .cards button {
  color: black;
  width: 150px;
  flex: 1;
  border-radius: 0;
  cursor: pointer;
}

div.player-area .cards button:first-child {
  border-radius: 9px 9px 0 0;
}

div.player-area .cards button:last-child {
  border-radius: 0 0 9px 9px;
}
div.player-area .cards div.card img {
  width: 150px;
}
