html{
  height: 100%;
  width: 100%;
  background-color: #FFEADB;
  font-size: 1.5em;
  line-height: 1.5;
}

body{
  font-family: Georgia, Halvetica, serif;
}

.pg {
  max-width: 800px;
  margin: 0 auto;
}

p{
  text-align: justify;
}

pre{
  color: #777;
}

span.accent{
  color: #E1AD01;
}

strong, i{
  display: block;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #555555;
}

th, td {
  border: 1px solid #555555;
  padding: 5px 10px;
}

div.footer, footer {
  font-size: 0.7em;
}

div.euler_complexity {
  margin-bottom: 1em;
}

div.euler_complexity a {
  border: solid 1px #000;
  padding: 6px 3px;
  display: inline-block;
  margin-bottom: 6px;
  line-height: 1em;
  width: 36px;
  text-align: center;
  color: black;
}

div.euler_complexity a.complexity-1 { background-color: #00b71d; }
div.euler_complexity a.complexity-2 { background-color: #98bb19; }
div.euler_complexity a.complexity-3 { background-color: #ffeb01; }
div.euler_complexity a.complexity-4 { background-color: #ff9000; }
div.euler_complexity a.complexity-5 { background-color: #ff4330; }

@media only screen and (max-width: 575px) {
  html {
  font-size: 1.2em;
  }
}
