html {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5;
}

body {
  font-family: Georgia, Halvetica, serif;
}

p,ul,ol {
  text-align: justify;
  margin: 5px 0 20px 0;
}

h1,h2,h3,h4,h5 { margin: 5px 0 }

.pg {
  max-width: 800px;
  margin: 0 auto;
}

/* front-page */
#front {
  text-align: center;
}

#graphic {
  margin: 20px 0;
}

.pagination a {
  text-decoration: none;
}

*/
/*Table styling*/
table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #555555;
  padding: 5px 10px;
}

td {
  vertical-align: top;
}

/*Footer + blockquotes */
.footer {
  font-size: 0.7em;
}

blockquote {
  padding-left: 13px;
  margin-left: 1px;
  border-left: 3px solid #BBB;
}

/* Complexity blocks for euler/AOC exercises */
div.complexity {
  margin-bottom: 1em;
}

div.complexity a {
  border: solid 1px #000;
  padding: 5px 0;
  display: inline-block;
  width: 48px;
  text-align: center;
  text-decoration: none;
  color: black;
}

div.complexity a.complexity-1 { background-color: #00b71d; }
div.complexity a.complexity-2 { background-color: #98bb19; }
div.complexity a.complexity-3 { background-color: #ffeb01; }
div.complexity a.complexity-4 { background-color: #ff9000; }
div.complexity a.complexity-5 { background-color: #ff4330; }

/* Some code-coloring */
pre {
  color: #777;
}

pre.highlight {
  white-space: pre-wrap;
}

.language-plaintext.highlighter-rouge { color: #FF6666 }

/*
/*
/*
/* Generated for code highlighting*/
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}
.highlight .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight .cp {
  color: #8ec07c;
}
.highlight .nt {
  color: #fb4934;
}
.highlight .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight .gi {
  color: #b8bb26;
  background-color: #282828;
}
.highlight .gd {
  color: #fb4934;
  background-color: #282828;
}
.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight .kc {
  color: #d3869b;
}
.highlight .kt {
  color: #fabd2f;
}
.highlight .kd {
  color: #fe8019;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sa {
  color: #fb4934;
}
.highlight .se {
  color: #fe8019;
}
.highlight .nn {
  color: #8ec07c;
}
.highlight .nc {
  color: #8ec07c;
}
.highlight .no {
  color: #d3869b;
}
.highlight .na {
  color: #b8bb26;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d3869b;
}
.highlight .ss {
  color: #83a598;
}
/*
/*
/*
/*
/* $ Generated for code highlighting*/
@media only screen and (max-width: 575px) {
  html {
    font-size: 1.0em;
  }

  img { width: 100%; }
  .footer img { width: auto; }
  #graphic {
    text-align: center;
    float: none;
  }
  #graphic img { width: auto; }
}
