html{
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    font-size: 1.2em;
    line-height: 1.5;
}

body{
    max-width: 500px;
    font-family: monospace;
}

p{
    text-align: justify;
}

pre{
    color: #777;
}

span.bowtie{
    color: red;
}

strong, i{
    display: block;
}
