<p>
  This article is part of a series where I'll be diving head first into the <a href="https://adventofcode.com/2021">Advent of code 2021</a>. I'll be documenting the challenge of solving such a puzzle and how I got to the answer. I want to prefix this by stating that I can't cheat for any of these challenges; with that, I mean I can't look up any other implementations online.
</p>

<p>
  In this article I'll be solving:
  <a target="_blank" href="https://adventofcode.com/2021/day/{{ page.problem }}">Advent of code 2021: Day #{{page.problem }}</a>.
</p>
