This article is part of a series where I'll be diving head first into the <a href="https://projecteuler.net/archives">Project Euler puzzles</a>. I want to document the challenge of solving such a puzzle and how I got to the answer. I want to prefix this by stating that I can't cheat for any of these challenges; with that I mean I can't look up any other implementations online. After the implementation, I will validate the answer by using <a href="https://github.com/nayuki/Project-Euler-solutions/blob/master/Answers.txt">this document</a> or a similar sheet.

In this article I'll be solving:
<a target="_blank" href="https://projecteuler.net/problem={{ page.problem }}">Project Euler #{{page.problem }}</a>.
