This article is part of a series where I'll be diving head first into the [Project Euler puzzles](https://projecteuler.net/archives). I want to document the challenge of solving such a puzzle and _how_ I got to the answer. I want to prefix this by stating that I can't cheat for any of these challenges; with that I mean I can't look up any other implementations online. After the implementation, I will validate the answer by using [this document](https://github.com/nayuki/Project-Euler-solutions/blob/master/Answers.txt) or a similar sheet.

In this article I'll be solving:
<a target="_blank" href="https://projecteuler.net/problem={{ page.euler }}">Project Euler #{{page.euler }}</a>.
