---
layout: default
---

<h1>
  {{ page.title }}
</h1>


<ul class="tags">
{% for tag in page.tags %}
<li>{{ tag }}</li>
{% endfor %}
</ul>

{% case page.problem_type %}
{% when "euler" %}
  {% include euler.html %}
{% when "aoc2021" %}
  {% include aoc2021.html %}
{% endcase %}

{{ content }}

{% if page.problem_type %}
  {% include complexity.html %}
{% endif %}

<div class="footer">
  {% include license.html %}

  <div class="info">
    Published on: {{ page.date | date: "%b %d, %Y" }} by Gerard -
    <a href="https://github.com/grdw/grdw/commits/main/{{ page.path }}" target="_blank">list of changes</a>
  </div>
</div>
